:root {
    --bg: #ffffff;
    --text: #111111;
    --subtext: #444;
    --card: #f7f7f7;
    --header-bg: rgba(255, 255, 255, 0.7);
    --btn-bg: #0d6efd;
    --btn-text: #ffffff;
}


body {
    background: var(--bg);
    color: var(--text);
    transition: background 0.3s ease, color 0.3s ease;
}

section, header, nav, footer {
    transition: background 0.3s ease, color 0.3s ease;
}

.navbar,
.main-header {
    background: var(--header-bg) !important;
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    transition: 0.3s;
}

.nav-link, a.nav-link {
    color: var(--text) !important;
}

.nav-link:hover {
    opacity: .7;
}

header, .hero {
    background: var(--bg);
    color: var(--text);
}

.hero .hero-subtitle {
    color: var(--subtext);
}

.card {
    background: var(--card) !important;
    color: var(--text) !important;
    transition: 0.3s;
}

.col-md-6.text-center img {
  width: 400px;
  height: 400px;
  clip-path: circle(50% at 50% 50%);
  object-fit: cover;
}

.email-link {
  color: #60a5fa;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.email-link i {
  font-size: 35px;
}

.email-link:hover {
  text-decoration: underline;
}

.btn-primary {
    background-color: #000000;
    border: none;
    padding: 12px 26px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #6d6d6d;
    transform: translateY(-2px);
}

.nav-active {
    background: rgba(0, 0, 0, 0.85) !important;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

#topBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 45px;
    height: 45px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 999;
}

#topBtn:hover {
    background: #444;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.6s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}